@{
    ViewBag.Title = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="~/Content/StyleSheet.css" rel="stylesheet" type="text/css" />


<div class="foodfinderlarge">
    <p>
        <span style='color: dodgerblue'>F</span>
        <span style='color: purple'>o</span>
        <span style='color: saddlebrown'>o</span>
        <span style='color: olivedrab'>d</span>
        <span style='color: darkgoldenrod'>F</span>
        <span style='color: darkblue'>i</span>
        <span style='color: mediumorchid'>n</span>
        <span style='color: darkred'>d</span>
        <span style='color: lightgreen'>e</span>
        <span style='color: yellow'>r</span>
    </p>
</div>

<div>
    <center>
    @using (Html.BeginForm("Get", "Product", FormMethod.Get, new { @class = "form-inline" }))
    {
        <input class="form-control" type="text" placeholder="Enter your product query" name="query" id="query">
        @Html.Hidden("offset", 0);
        <button type="submit" class="btn btn-primary">Search  <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    }
    </center>
</div>
